@import "src/assets/styles/variables";

.post {
  background-color: $system-grays-silver-light;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  width: 345px;
}

.date {
    color: $primary-indigo;
    font-size: 12px;
    margin: 0;
}

.calendar-ico {
  width: 16px;
  height: 16px;
  font-size: 16px;
  vertical-align: bottom;
  padding-right: 5px;
}

.date + p {
  margin: 10px 0;
}
