::ng-deep {
  .diary .mat-form-field-type-mat-input {
   width: 100%;
  }
}

.diary {
  width: 355px;
  margin-bottom: 10px;
}

.diary .title {
  font-size: 18px;
  font-weight: 500;
  color: blueviolet;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.diary .btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

