$bg-color: #E5E5E5;
$primary-indigo: #3E52BE;
$system-grays-ice: #FFFFFF;
$system-grays-steel: #90A4AE;
$primary-deep-blue: #224272;
$system-grays-silver-light: #F7F8F9;
$system-grays-blue-gray: #263238;
